.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  position: relative;
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  min-height: 500px;
  width: 35%;
  max-width: 336px;
  left: 65%;
  top: 128px;
}

.controlColumn {
  width: 50%;
}

.greyBg {
  background-color: hsl(195deg, 20%, 86%);
  position: fixed;
  bottom: 0;
  height: 40%;
  left: 0;
  width: 100%;
}


@media (max-width: 600px) {
  .controlColumn {
    width: 100%;
    margin-left: -32px;
    padding-left: 32px;
    overflow: scroll;
    white-space: nowrap;
    display: flex;
    position: absolute;
    bottom: 24px;
  }

  .header {
    width: 100%;
  }

  .characterWrapper {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
  }
}
